extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content
  section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin
          p.section_subtitle Khóa học lập trình iOS
    section
      .container
        hr.content_divider
        article.row
          aside.course_summary.fly_right_md.col-md-4
            .item
              h3.column_title Khóa học tiếp theo
              p
                | Chúng tôi không chỉ dạy về lập trình
              p
                | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!

              p
                i.fa.fa-calendar
                em  Lịch khai giảng:
                span.pull-right 20/10/2016
              hr.sub_divider
              p
                i.fa.fa-clock-o
                em  Thời gian học:
                div Tối thứ 4 (7.15 - 10.15pm), chiều CN (2 - 5pm)
              hr.sub_divider
              p
                i.fa.fa-level-up
                em  Thời lượng học:
                div 4 tháng học, sau đó thực tập (nếu muốn). 2 buổi học chính/tuần
              hr.sub_divider
              p
                i.fa.fa-credit-card
                em  3 Học bổng tài năng:
                span.pull-right 20-50%
              p.price_tag(style="text-align:center; font-size:30px")
                | 5.800.000
                sup đ
              a.btn.btn-danger.btn-block(href='/khoa-hoc/iOS/register') Đăng ký tại đây
              hr
            .item
              h3.column_title Giảng viên
              ul.users_list
                li
                  .user_thumbnail
                    a(href="/giang-vien/do-anh-tu")
                      img(src="/cms/img/doanhtu.jpg")
                  h5
                    a(href="/giang-vien/do-anh-tu") Đỗ anh Tú
                  p Co-founder at Haivl.com
                li
                  .user_thumbnail
                    a(href="/giang-vien/nguyen-tien-dat")
                      img(src="/cms/img/dat.jpg")
                  h5
                    a(href="/giang-vien/nguyen-tien-dat") Nguyễn Tiến Đạt
                  p Director at PlumGame
                li
                  .user_thumbnail
                    a(href="/giang-vien/ta-hoang-minh")
                      img(src="/cms/img/MinhTaHoang.jpg")
                  h5
                    a(href="/giang-vien/ta-hoang-minh") Tạ Hoàng Minh
                  p Director at FLY TECHNOLOGY DEVELOPMENT JSC
          .col-md-8.fly_right_md
            img.title_image(src="/cms/img/banneriosandroid.jpg")
            section
              .article_title_wrapper.row
                .item
                  h3.section_title.col-sm-5.col-xs-9 Thông tin khóa học
                  div(style='text-align:center; ')
                    p(style='text-align:center')
                      strong
                          | Chúng tôi không chỉ dạy về lập trình
                    p(style='text-align:center')
                      strong
                          | Chúng tôi mong muốn tạo ra thế hệ Lập trình viên xuất sắc!
                        hr
                .item      
                    h3(dir='ltr')
                        strong  1. MỤC ĐÍCH KHÓA HỌC
                    p(dir='ltr')
                        span Có đủ kỹ năng cần thiết để làm việc ở các công ty IT/dự án toàn cầu.
                    p(dir='ltr')
                        span Tự làm sản phẩm bán trên Appstore/Google play, khởi nghiệp vừa và nhỏ.
                    hr
                .item
                    h3(dir='ltr')
                        strong 2. HỌC GÌ Ở TECHKIDS TRONG 4 THÁNG?
                    div(dir='ltr')
                        strong >> 1 tháng đầu:
                        span
                            |  Coding Intensive (OOP + Teamwork + Project & Hackathon) (Miễn phí). Có thể tự làm được 1 game hoàn chỉnh.
                    p
                    div(dir='ltr')
                        strong >> 2 tháng tiếp theo:
                        span
                            |  Chọn lớp Android hoặc iOS. Học kiến thức Lập trình kèm theo assignment và dự án thật. Bắt đầu từ tuần thứ 3 sẽ làm 1 dự án giả lập hoàn chỉnh.
                    p
                    div(dir='ltr')
                        strong  >> 1 tháng cuối:
                        span
                            |  Làm dự án thực tế dưới sự hướng dẫn của Giảng viên và trợ giảng.
                    p
                    div(dir='ltr')
                        strong >> Sau đó:
                        span  Thực tập/làm việc tại TechKids Lab hoặc tại hơn 30 công ty đối tác.
                        strong
                            i  Các công ty chưa bao giờ thôi tranh nhau tuyển học viên của TechKids.
                    p
                    div(dir='ltr')
                        strong  >>  Học viên được học tiếng Anh cơ bản miễn phí. Với học viên giỏi sẽ có học bổng tiếng Nhật 50-100% từ các đối tác.
                    hr
                .item
                    h3(dir='ltr')
                        strong  3. MỘT SỐ ĐIỂM LƯU Ý:
                    p(dir='ltr')
                        span TechKids có hơn
                        strong  30 đối tác là các công ty lớn trong nước và ở ASEAN, US
                        span
                          |  (xin được giấu tên) sẽ gửi dự án cho TechKids và nhận học viên của TechKids (fulltime/parttime)
                    p(dir='ltr')
                        strong >> TechKids hỗ trợ ăn, ngủ, ở tại TechKids.
                    p(dir='ltr')
                        strong >> Học bổng 20 - 100% cho những bạn có tiềm năng và thái độ tốt nhất.
                        span  Luôn có học bổng cho nữ giới.
                    p(dir='ltr')
                        strong >> Học kỹ năng cần thiết cho 1 Lập trình viên
                        span
                            | , tất cả học viên sẽ được nhận được Học bổng 100% 3 khóa học khác: 1, Tiếng Anh phát âm cơ bản, 2. Kĩ thuật design mobile apps,  3. Đào tạo về tuyển dụng
                    div
                        strong >> Thời lượng học:
                        span  4 tháng, 2 buổi/tuần, 3h/buổi.
                    p
                    div
                        strong >> Sĩ số: 12-15 người.
                        span  Sẽ đóng đơn đăng ký khi chọn đủ thành viên.
                    p
                    div
                        strong >> Học phí:
                        span  5.800.000/người. Đối với những ai được thành viên cộng đồng TechKids/
                        a(href='http://iliat.org') ILIAT School
                        span  giới thiệu: được giảm 5% học phí.
                    p
                    div
                        strong >>
                        span  Đăng ký nhóm 2 người trở lên: tặng mỗi người 400.000vnd
                    p
                    div
                        strong >> Học bổng:
                        span  3 học bổng 20-100%. Kết quả dựa vào bài kiểm tra đầu vào và phỏng vấn.
                    hr
                .item
                    h3(dir='ltr')
                        strong 4. BẠN CHỜ ĐỢI ĐIỀU GÌ TRƯỚC KHÓA HỌC:
                    p(dir='ltr')
                        strong Đội ngũ giảng viên và trợ giảng có trình độ quốc tế
                        span
                            |, cùng với TechKids xây dựng một cộng đồng IT-ers trong khu vực ASEAN để đồng hành với từng cá nhân trong sự nghiệp sau này.
                    p(dir='ltr')
                        strong Truyền cảm hứng và khuyến khích sự sáng tạo
                        span
                            | , chủ động, khác biệt của từng học viên trong môi trường năng động, cởi mở. Chúng tôi TỪ CHỐI KIỂU HỌC THỤ ĐỘNG, CẦM TAY CHỈ VIỆC. Giáo dục Việt Nam đã sai lầm quá đủ rồi!
                    p(dir='ltr')
                        strong Những trải nghiệm thực sự đáng nhớ trong cuộc đời mình.
                        span  Xem cuộc sống ở TechKids như thế nào
                        a(href='https://www.facebook.com/Techkids.Code.the.Change/photos/?tab=album&album_id=548390372002566')
                          span  TẠI ĐÂY.
                    hr
                //p  
                //- h2(dir='ltr')
                //-   span 3. Đi học hay tự học?
                //- p(dir='ltr')
                //-   span
                //-     | “Giáo dục và môi trường Việt Nam khiến tư tưởng của các bạn sinh viên Việt Nam khá “ăn xổi”, cứ nghĩ mobile dev là ngon ăn rồi nhảy vào, tự học được vài chiêu rồi copy đoạn code này, paste vào, bán thi thoảng được vài nghìn đô đã là sung sướng. Hoặc có những bạn theo đuổi rất tử tế thì lại bị thiếu tầm nhìn, không biết cách hợp tác với người khác, nhìn ra đường hướng phát triển và Marketing sản phẩm,… Những điều này khiến các bạn ấy chỉ làm được những sản phẩm 1 là chộp giật chỉ bán được trong thị trường Việt Nam hoặc 2 là những sản phẩm chỉ dừng lại ở 1 mức nào đó mà không phát triển được tiếp. Nó thực sự không tốt trong dài hạn.
                //- p(dir='ltr')
                //-   span
                //-     | Thế nên mình cho rằng điều đầu tiên khi mình giảng dạy Khóa Lập trình Android ở TechKids là giúp các bạn có suy nghĩ đúng đắn về Lập trình, biết nhìn xa hơn, biết cố gắng và tìm những cơ hội tốt ở một nơi còn hạn chế về đủ thứ như Việt Nam.
                //- p(dir='ltr')
                //-   span
                //-     | Mình tin về kiến thức chuyên môn thì không khó để truyền đạt và giúp các bạn ấy tiến bộ tốt, ít nhất với kinh nghiệm của mình, nhưng mình đang hy vọng một điều gì đó lớn lao hơn qua các lớp học này.”
                //- p(dir='ltr')
                //-   span Bùi Cảnh – Project manager Fsoft
                //- //p(dir='ltr')  
                //- hr
                //- //p  
                //- h2(dir='ltr')
                .item
                    h3(dir='ltr')
                        strong 5. Học iOS hay Android?
                    p(dir='ltr')
                        a(href='https://www.facebook.com/media/set/edit/a.556181741223429.1073741843.435780759930195/')
                            span TẠI ĐÂY
                        span
                            |  là một vài chia sẻ của các giảng viên TechKids về việc định hướng cho các bạn học viên theo đuổi Android hay iOS khi mới bắt đầu học Mobile.
                    p(dir='ltr')
                       span
                            | Theo TechKids thì học cái gì trước cũng được, sau đó học thêm những công nghệ khác, rồi thành Full-stack là ngon :D
                    hr
                .item
                    h3(dir='ltr')
                        strong 6. Làm sao để trở thành TechKids?
                    div(dir='ltr')
                        strong VÒNG 1:
                        span  Đơn đăng ký. Nút đăng ký ở đâu đó trong trang này.
                    p
                    div(dir='ltr')
                        strong VÒNG 2:
                        span  Test tiếng Anh và khả năng code (chỉ chiếm 10% kết quả) trong 1 tiếng.
                    p
                    div(dir='ltr')
                        strong VÒNG 3:
                        span  Phỏng vấn, live code trong 3 – 4 tiếng.
                    p
                    div(dir='ltr')
                        span
                            | Ở TechKids, chúng tôi quan trọng nhất là THÁI ĐỘ của các bạn. Bới các bạn có tiến bộ được hay không là do THÁI ĐỘ của các bạn.
                    p
                    div(dir='ltr')
                        span
                            | Chấp nhận thử thách, sẵn sàng thay đổi bản thân trong mô hình học tập hoàn toàn mới.
                    p
                    div(dir='ltr')
                        span Chủ động tìm tòi học hỏi. Không há miệng chờ sung.
                    p
                    div(dir='ltr')
                        span
                            | Có mục tiêu học tập rõ ràng, có tinh thần cầu tiến, khiêm tốn. Và chúng tôi cực thích những người “dị”, khác người.
                    hr
                .item
                    h3(dir='ltr')
                        strong 7. Lời gửi gắm đến những Lập trình viên tài năng
                    strong Giáo dục và Công nghệ
                    span
                        | là một trong 2 hướng đi của cả thế giới trong những năm gần đây bởi sức mạnh kiến tạo tương lai của nó. Đó là lý do chúng tôi đã bắt đầu cuộc hành trình của mình với ILIAT School hơn 1 năm trước đây, cộng đồng lớn nhất Hà Nội về Kinh doanh – Kinh tế với 1200+ thành viên cực kỳ tài năng, và giờ là lúc chúng tôi bắt đầu với các bạn, những Lập trình viên tương lai.
                    p(dir='ltr')
                        span
                        | Chúng tôi tin các bạn, nếu được truyền cảm hứng nhiều hơn, trau dồi nhiều hơn, đam mê và nỗ lực nhiều hơn thì các bạn sẽ làm được những điều thật sự khác biệt! Và chúng tôi hứa, sẽ đồng hành với bạn trong cuộc hành trình đầy thử thách này.
                    hr
                div(style="text-align:center;margin: 20px auto; width: 30%;")
                a.btn.btn-danger.btn-block_register(href='/khoa-hoc/iOS/register') Đăng ký khóa học
    section#register-bar.register-bar
      .bar-content
        i.fa.fa-envelope-o(aria-hidden='true')
        |     Nhận chương trình học miễn phí
        a#submit-button-modal.button-register
          | ĐĂNG KÍ NGAY
      button.button-close
        i#button-close.fa.fa-times
    #myModal.modal
        .modal-content-course
            button.button-close 
              i#close-btn.fa.fa-times
            .row3.text-center
              h3.section_title_3.col-sm-5.col-xs-9 ĐĂNG KÍ NHẬN CHƯƠNG TRÌNH HỌC
            form#register-form.container.container-form-advice
              .centering-block
                .row.form-info
                 .col-xs-6.col-sm-4
                  input(type='text', name='Name', placeholder='Họ và tên', required='')
                 .col-xs-6.col-sm-4
                  input(type='text', name='Tel', placeholder='Số điện thoại', required='')
                 .clearfix.visible-xs-block
                 .col-xs-6.col-sm-4
                  input(type='email', name='Email', placeholder='Email', required='') 
                .form-group
                  p Bạn muốn đăng kí nhận chương trình học nào?
                  .row
                    .col-xs-6.col-sm-4
                      input#iOS(type='checkbox', name='iOS', value='x')
                      label(for='iOS') iOS
                    .col-xs-6.col-sm-4
                      input#Android(type='checkbox', name='Android', value='x')
                      label(for='Android') Android
                    // Optional: clear the XS cols if their content doesn't match in height
                    .clearfix.visible-xs-block
                    .col-xs-6.col-sm-4
                      input#web(type='checkbox', name='Full-stack Web', value='x')
                      label(for='web') Full-stack Web  
                    .col-xs-6
                      input#c4k(type='checkbox', name='Code for Kids', value='x')
                      label(for='c4k') Code for Kids (C4K)  
                    .col-xs-6
                      input#c4e(type='checkbox', name='Code for Everyone', value='x')
                      label(for='c4e') Code for Everyone (C4E)  
                .text-center#advice
                  input#sure(type='checkbox', name='Nhận tư vấn khóa học', value='Có')
                  label(for='sure') Bạn có muốn nhận tư vấn về các khóa học không?    
                button#submit-button.btn.btn-form(type='submit')
                  font(size='2.5').span#submit-text NHẬN CHƯƠNG TRÌNH HỌC  
                h4#notification.notification
                #form-loader.uil-rolling-css
                  div
                    div
                    div
