extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content
    section#page_title.page_title.stars
      .container
        .row.fade_up.text-center
          h3.section_title.col-sm-5.col-xs-9 Thông tin
          p.section_subtitle FREE CODE INTENSIVE
    section
      .container
        article.row
          aside.course_summary.fly_right_md.col-md-4
            .item
              h3.column_title Khóa học tiếp theo
              p
                i.fa.fa-calendar
                em  Lịch khai giảng:
                span.pull-right.justify-content 29/10 - Swift + OOP <br> 16/11 - Java + OOP
              hr.sub_divider
              p
                i.fa.fa-clock-o
                em  Thời gian học:
                div Tối thứ 5 (7.15 - 10.15pm), chiều 7 (2 - 5pm)
              hr.sub_divider
              p
                i.fa.fa-level-up
                em  Thời lượng học:
                div 4 tuần
              hr.sub_divider
              p(style="text-align:center; font-size:30px")
                | Miễn phí
              a.btn.btn-danger.btn-block(href='Link: https://docs.google.com/forms/d/e/1FAIpQLSdWa7f5qneIwQwRGkCQbotgKvBLLgUZFTBlcWRbIRnFbQAIQQ/viewform') Đăng ký tại đây
              hr
          .col-md-8.fly_right_md
            img.title_image(2015='', src='/cms/img/free_code_intensive.PNG')
            .vc_col-sm-8
              .item
                h3.section_title.col-sm-5.col-xs-9 Thông tin khóa học
                p
                  span
                    em
                      | Nhằm định hướng và mở đường cho các Lập trình viên tương lai, còn đang mù mờ trên ghế giảng đường, TechKids tạo ra chương trình Code intensive miễn phí cho tất cả học viên, bạn của học viên và những ai vượt qua vòng thi/phỏng vấn đầu vào của TechKids.
              .item
                h3
                    | HỌC CODE INTENSIVE NHƯ THẾ NÀO?
                p
                    | - Thời lượng: 9 buổi học + 2 Hackathon + 1 Demo day.
                p
                    | - Sỹ số: 12 người/lớp. Địa điểm: cơ sở chùa Bộc.
                p
                    | - Chương trình học cụ thể: Swift + OOP hoặc Java + OOP (liên hệ để biết thêm chi tiết)
                p
                    | - Đã tiếp xúc với cách xử lí callback của Javascript
                p
                  span Nội quy lớp học (các bạn đọc thật kỹ nhé!): 
                    a(href='http://bit.ly/Free_Online_CI_Info')
                      span TẠI ĐÂY.
                p
                    |Học ở TechKids, dù bất cứ khóa học nào cũng cần sự đầu tư thời gian, công sức, chất xám. Học hành vớ vẩn là không sống sót được ở đây đâu nhé các bạn trẻ :D
                p
                    |(Nội quy này dành cho những bạn không đăng ký khóa Mobile apps development (MAD) ngay từ đầu. Những bạn đăng ký MAD ngay từ đầu cũng được free CI và sẽ tuân thủ nội quy của MAD)
                hr
              .item
                h3
                    | BẠN LÀ AI?
                p
                    | - Ưu tiên học viên (tương lai) và bạn của học viên tại TechKids.
                p
                    | - Biết/đã từng học 1 trong số các ngôn ngữ Lập trình sau: C, C++, C#, Java. Biết OOP là một lợi thế.
                p 
                    | - Có thể dành đủ ít nhất 3h/ngày trong vòng 1 tháng để học và luyện tập.
                p 
                    |- Có ý thức và thái độ đủ tốt để tuân thủ các nội quy trong lớp học của TechKids.
                hr
              .item
                h3
                  | BẠN NHẬN ĐƯỢC GÌ SAU KHÓA HỌC?
                p
                  |- Làm được 1 game hoàn chỉnh tính năng và giao diện
                p
                  |- Được nhận vào lớp Mobile apps development (iOS/Android) và được giảm 5% học phí
                hr
              .item
                h3(dir='ltr')
                  span LÀM THẾ NÀO THAM GIA CI?
                p
                  | 1. Chia sẻ sự kiện trên trang cá nhân của mình (để chế độ public)
                p  
                  | 2. Đăng ký tại trang web này
                p
                  | 3. Test đầu vào, phỏng vấn và live code trong vòng 3-4 tiếng.
                hr
              .item
                h3
                  | 5. KẾT NỐI VỚI TECHKIDS
                p
                  | Số điện thoại: Ms Hà San 0165 300 5670
                p
                  | Email: Techkidsvn@gmail.com | Website: Techkids.vn
                p  
                  | Fanpage: https://www.facebook.com/Techkids.Code.the.Change
                p
                  | Địa chỉ:
                p
                  | | TechHub 1: Số 28/10, ngõ 121 Chùa Láng
                p
                  | | TechHub 2: Số 101D, ngõ 95 Chùa Bộc.
                div(style="text-align:center;margin: 20px auto; width: 30%;")  
                    a.btn.btn-danger.btn-block(href="https://docs.google.com/forms/d/e/1FAIpQLSdWa7f5qneIwQwRGkCQbotgKvBLLgUZFTBlcWRbIRnFbQAIQQ/viewform") Đăng ký tại đây  
                hr
    section#register-bar.register-bar
      .bar-content
        i.fa.fa-envelope-o(aria-hidden='true')
        span.reg-text Nhận chương trình học miễn phí
        a#submit-button-modal.button-register
          | ĐĂNG KÍ NGAY
      button.button-close
        i#button-close.fa.fa-times
    #myModal.modal
        .modal-content-course
            button.button-close
              span#close-btn x
            .row3.text-center
              h3.section_title_3.col-sm-5.col-xs-9 ĐĂNG KÍ NHẬN CHƯƠNG TRÌNH HỌC
            form#register-form.container.container-form-advice
              .centering-block
                .row.form-info
                 .col-xs-6.col-sm-4
                  input(type='text', name='Name', placeholder='Họ và tên', required='')
                 .col-xs-6.col-sm-4
                  input(type='text', name='Tel', placeholder='Số điện thoại', required='')
                 .clearfix.visible-xs-block
                 .col-xs-6.col-sm-4
                  input(type='email', name='Email', placeholder='Email', required='')
                .form-group
                  p Bạn muốn đăng kí nhận chương trình học nào?
                  .row
                    .col-xs-6.col-sm-4
                      input#iOS(type='checkbox', name='iOS', value='x')
                      label(for='iOS') iOS
                    .col-xs-6.col-sm-4
                      input#Android(type='checkbox', name='Android', value='x')
                      label(for='Android') Android
                    // Optional: clear the XS cols if their content doesn't match in height
                    .clearfix.visible-xs-block
                    .col-xs-6.col-sm-4
                      input#web(type='checkbox', name='Full-stack Web', value='x')
                      label(for='web') Full-stack Web
                    .col-xs-6
                      input#c4k(type='checkbox', name='Code for Kids', value='x')
                      label(for='c4k') Code for Kids (C4K)
                    .col-xs-6
                      input#c4e(type='checkbox', name='Code for Everyone', value='x')
                      label(for='c4e') Code for Everyone (C4E)
                .text-center#advice
                  input#sure(type='checkbox', name='Nhận tư vấn khóa học', value='Có')
                  label(for='sure') Bạn có muốn nhận tư vấn về các khóa học không?
                button#submit-button.btn.btn-form(type='submit')
                  font(size='2.5').span#submit-text NHẬN CHƯƠNG TRÌNH HỌC
                h4#notification.notification
                #form-loader.uil-rolling-css
                  div
                    div
                    div
