extends layout
block content
    section#page_title.page_title.stars
        .container
          .row.fade_up.text-center
            h3.section_title.col-sm-5.col-xs-9 ARTICLES
            p.section_subtitle 
      section#about
        .container(style="text-align:justify")  
          .row
            .col-md-8.col-md-offset-2
              h1.column_title TechKids Hackathon Đại chiến 2016
              a(href='/chuong-trinh/su-kien/techkids-hackathon')
                img.img-rounded.img-responsive(src='/cms/img/tk_hackathon_event.jpg')
              hr.content_divider
              p 
                |Chơi LOL, Dota hay CS, anh em lập team đấu nhau mỗi tối. Có cả giải khu vực, quốc tế cho anh em thưởng thức.<br>
                |Bóng đá, bóng rổ, thậm chí tập gym, ai ham hố cũng lập team để chơi và giao lưu hàng tuần. <br>
                |Thế ... <br>
                |anh em Techkids đã nghĩ đến một cuộc tranh tài đọ sức và giao lưu giữa về lập trình chưa?
              p
                |Chẳng tìm đâu xa, có TECHKIDS HACKATHON ĐẠI CHIẾN 2016 đây rồi!
              p
                |TECHKIDS HACKATHON ĐẠI CHIẾN 2016 là gì:<br>
                |Là cuộc thi Lập trình ứng dụng di động (Android và iOS) do Techkids tổ chức, nhằm đem lại sân chơi bổ ích cho anh em, tạo cơ hội để anh em hội ngộ và hướng đến sinh nhật 1 tuổi của TechKids school.
              p
                |Không tham gia hơi phí:<br>
                |- Trải nghiệm xây dự án thực tế, xoay sở dưới áp lực thời gian.<br>
                |- Gặp gỡ, học hỏi các cao thủ nhà Techkids, cả thí sinh, cả Ban giám khảo.<br>
                |- Nhận giải thưởng tiền mặt hấp dẫn: 5 triệu, 2 triệu và 1 triệu và các phần quà có giá trị (giải thưởng còn được update tiếp sau khi làm việc xong với các nhà tài trợ)<br>
                |- Chớp ngay cơ hội thực tập liền tay cùng đối tác tài trợ. Phỏng vấn tuyển dụng ngay sau cuộc thi.<br>
                |- Không mất bất cứ chi phí nào: ăn uống ngủ nghỉ được hỗ trợ hoàn toàn trong cuộc thi.                |
              p 
                |Ai có thể tham gia:<br>
                |- Học viên và cựu học viên Techkids<br>
                |- Tất cả sinh viên IT yêu quý Techkids và mong muốn giao lưu học hỏi.

              p 
                |Cụ thể tham gia thế nào:<br>
                |>> Vòng 1: Đăng ký - từ ngày 15/09 đến ​07/10<br>
                span Link đăng ký: 
                        a(href='http://bit.ly/TechkidsHackathon') 
                            |TẠI ĐÂY <br>
                |Các thí sinh đăng ký dự thi cá nhân hoặc theo nhóm 3 - 5 người.<br>
                |>> Vòng 2: Hackathon + Demo<br>
                |Hackathon - ngày 15/10 - 16/10<br>
                |Trước đó 1 tuần, các team được gửi chủ đề và chuẩn bị trước cho app sản phẩm<br>
                |>> Demo Day - ngày 16/10<br>
                |>> Trao giải thưởng: 22/10, ngay tại sinh nhật TechKids 1 tuổi
              p 
                |Đợi gì nữa ...<br>
                |Đăng ký ngay, code thật hay, nhận quà khủng!<br>
                |Cơ hội hiếm có để thử sức, thi tài và kết bạn, ĐỪNG BỎ LỠ
              P
                |Thông tin liên hệ<br>
                |Techkidsvn@gmail.com | Fanpage Techkids Coding School | <br>
                |Hotline 0943200169 (MsDung)
