extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content  
  section.background.img-responsive
    .center_inline_list.center_inline_list_2
      h3.section_title.col-sm-5.col-xs-9.font_color CÙNG TECHKIDS 
      p.section_subtitle.font_color viết những dòng code thay đổi cuộc đời bạn
  .white-bg
    .container
      .row(style='margin-bottom:35px')
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/hoang-duong")
              img.profile_img(src='/cms/img/hoang_duong0.png')
            h4.text-center Hoàng Dương
            p.text-center 
             |Học bổng ASEAN tại Đại học quốc gia Singapore 2016<br>
             |Giải nhì Tin học Quốc gia 2015
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/duc-nhan")
              img.profile_img(src='/cms/img/duc_nhan.gif')
            h4.text-center Đức Nhân
            p.text-center 
              |K59 - ĐH BK HN<br>
              |Chủ nhiệm của Câu lạc bộ Tranh biện Bách Khoa Thành viên tích cực của Hội sinh viên tài năng FPT (FYT)
        .col-xs-6.col-sm-3          
          .item1
            a(href="/hoc-vien/tran-trung")
              img.profile_img(src='/cms/img/tran_trung.png')
            h4.text-center Trần Trung
            p.text-center Android student tại TechKids Android developer tại FPT software
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/duong-thang")
              img.profile_img(src='/cms/img/duong_thang.png')
            h4.text-center Dương Thắng
            p.text-center 
              |K57 - ĐH BK HN <br>
              |Từng được học bổng toàn phần trao đổi sinh viên tại Hàn Quốc, Đài Loan và Tây Ban Nha của ĐH BK
  .dark-bg
    .container
      .row(style='margin-bottom:35px')
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/phuong-thao")
              img.profile_img(src='/cms/img/Pt.png')
            h4.text-center Phương Thảo
            p.text-center Sinh năm 2000 - Học sinh THPT lê Quý Đôn
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/mai-nguyen")
              img.profile_img(src='/cms/img/mai_nguyen.png')
            h4.text-center Mai Nguyễn
            p.text-center Marketing Manager tại Cốc Cốc
        .col-xs-6.col-sm-3          
          .item1
            a(href="/hoc-vien/ufo")
              img.profile_img(src='/cms/img/Ufo.png')
            h4.text-center Châu Dương Ufo 
            p.text-center Từng học tại Mỹ, Singapore Hiện tại đang làm Founder và CEO tại Wings.vn
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/hoa-khanh")
              img.profile_img(src='/cms/img/hoa_khanh.png')
            h4.text-center Hòa Khanh
            p.text-center Từng là nhân viên tại ABBank
  .white-bg
    .container
      .row(style='margin-bottom:35px')
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/nguyen-nga")
              img.profile_img(src='/cms/img/nga_nguyen.png')
            h4.text-center Nguyễn Nga
            p.text-center D14 - PTIT Được học bổng Tech-Women Scholarships của TechKids
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/thanh-son")
              img.profile_img(src='/cms/img/thanh_son.png')
            h4.text-center Thành Sơn
            p.text-center K59 - ĐH BK HN Từng thực tập tại Telsoft và Trueplus
        .col-xs-6.col-sm-3          
          .item1
            a(href="/hoc-vien/son-vu")
              img.profile_img(src='/cms/img/son_vu.png')
            h4.text-center Sơn Vũ
            p.text-center K9 - Kỹ thuật phần mềm - ĐH FPT iOS developer
        .col-xs-6.col-sm-3
          .item1
            a(href="/hoc-vien/minh-tien")
              img.profile_img(src='/cms/img/minh_tien.png')
            h4.text-center Minh Tiến
            p.text-center Từng là Marketing Manager tại Cốc Cốc
  .col-xs-12.col-md-12.about_us2
    h4 Và còn gần 300 học viên xuất sắc, tài năng, đáng yêu của Techkids nữa...
    p
      | "Techkids không làm mình lập tức trở thành siêu sao, nhưng đã cho mình thấy một con đường rộng mở, 
      br
      |  cho mình thêm niềm tin để tiếp tục bước trên con đường đã chọn ấy, và mang đến cho mình 
      br
      |  Những người bạn vô cùng tuyệt vời."
    p
      | "Techkids làm cuộc đời tao thay đổi thật mày ạ."
  .col-xs-12.col-md-12.find_us
    h4.title
      before
        | CÙNG TECHKIDS
        after
    p.sub_title
      | viết những dòng code thay đổi cuộc đời bạn
    a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc') TÌM HIỂU CÁC KHÓA HỌC          
  
