extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content  
  img.profie_background(src='/cms/img/Background.jpg')
  .content-container
    img.profie-pic(src='/cms/img/hoang_duong.jpg', style='height:350px')
    h3 Hoàng Dương
    p Học bổng ASEAN tại Đại học quốc gia Singapore 2016 (toàn phần) <br>
      |Giải nhì Tin học Quốc gia 2015<br>
      |Huy chương vàng Tin học Olympia 2015<br>
      |Học bổng 50% tại Đại học Deakin và Wollongong, Úc
    p
      |Em biết đến Techkids chỉ một thời gian rất ngắn trước khi đăng kí học. Nếu nói là không đắn đo thì cũng không đúng, nhưng do bị ấn tượng với overview khóa học trên web với cái policy “dị” nên em đã đăng kí :v. Khi bắt đầu vào học, thực sự em chưa từng tham gia vào kiểu lớp học nào tương tự ở đây. Giảng viên (trợ giảng) dạy hay (giảng đủ kiến thức, giải đáp đầy đủ thắc mắc) mà không khí học thì thoải mái. Mới học một tháng nhưng em đã học thêm được một lượng kiến thức bổ ích, dần thay đổi thói quen học tập (học ở đây tạo “đà học” cho đứa “lười tự học” như em), có cơ hội trải nghiệm gần 1 ngày Hackathon và làm việc nhóm. Nói chung một tháng học tại Techkids là một tháng học thú vị nhất của em trong thời gian qua và em chưa thấy sai lầm (mong là không thấy =))) khi lựa chọn học tại đây :3.<br>
      |I am really looking forward to the next part of the course!
  //- .course
  //-   h2.text-center.title CÁC KHÓA HỌC
  //-   .content-container
  //-     .course-info
  //-       .row
  //-         .col-md-8.col-xs-12
  //-           h3 Mobile apps development (MAD) - iOS
  //-           p Học Lập trình nền tảng (Java, OOP) và tiếng Anh miễn phí; tạo ra ứng dụng trên nền tảng iOS. Giảng viên trên 7 năm kinh nghiệm. Cam kết việc làm sau khóa học hoặc tự khởi nghiệp.
  //-           a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc/ios') TÌM HIỂU NGAY
  //-         .col-md-4.col-xs-6
  //-           img.course_picture(src='/cms/img/banneriosandroid.jpg')
  .col-xs-12.col-md-12.find_us
    h3.title
      | CÙNG TECHKIDS
    p.sub_title
      | viết những dòng code thay đổi cuộc đời bạn
    a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc') TÌM HIỂU CÁC KHÓA HỌC
