extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content  
  section.background.img-responsive
    .center_inline_list.center_inline_list_2
      h3.section_title.col-sm-5.col-xs-9.font_color CÙNG TECHKIDS 
      p.section_subtitle.font_color viết những dòng code thay đổi cuộc đời bạn
  .content-container
    .row(style='padding-bottom:25px;')
      .col-xs-6.col-md-3
        img.profile_img(src='/cms/img/son_vu.png')
      .col-xs-12.col-sm-6.col-md-9
        p.justify-content.flex-verttically-center
          |Sinh viên K9 - Kỹ thuật phần mềm - ĐH FPT
          |iOS developer
    p Sau khoảng hơn 1 tháng cày cuốc nhiệt tình tại Techkids thì mình đã học được rất nhiều điều ở đây, từ kiến thức, phong cách sống đến cách quẩy, nói chung là tất tần tật. Đặc biệt mình cảm thấy Techkids thật sự khác biệt so với những nơi còn lại
    p Đầu tiên là kiến thức : theo mình nghĩ thì hầu hết các trung tâm và các trường đại học đều cung cấp kiến thức một cách khá đầy đủ va chi tiết, tuy nhiên nó quá khô khan và rất khó hiểu. Còn Techkids thì khác, mọi thứ đều phải tối ưu để trở nên đơn giản nhất, mọi kiến thức, khái niệm đều rất sinh động và gắn liền với thực tế, khi bạn đã có một lượng kiến thức nhật định thì sẽ chuyển qua giai đoạn thực hành, ở giai đoạn này Techkids đặc biệt khác với những nơi còn lại và mình cảm thấy thú vị nhất, đó là lập trình game, tất nhiên là sau mỗi buổi học chỉ có thể code được 1đến 2 module ứng với kiến thức vừa học. Theo như anh/chị ở đây giải thích trong 1 game chứa rất nhiều thứ, từ các kiến thức cơ bản đến nâng cao, các design patterns, logic đặc biệt là khả năng sáng tạo. Vì vậy, khi bạn có thể tự mình tạo ra được 1 game thì có nghĩa là bạn  cũng học được khá nhiều điều :D
    p Con người: Điều mình ấn tượng đầu tiên ở Techkids là các anh/chị ở đây kiến thức cứ phải gọi là bò đầy chân :v mà lại còn vui tính nữa chứ. Mình hỏi bất cứ điều thì đều được anh chị giải đáp 1 cách nhiệt tình. Bởi sự thân thiện của mọi người ở đây đã làm cho mình mỗi khi đi học không còn cảm thấy áp lực như khi đến trường nữa.
    p Môi trường học: Code,code,code,.... mình cũng chẳng biết vui hay buồn nữa :v. Mấy hôm Hackathon cứ phải gọi là siêu mệt, code liên tục trong khoảng 1 ngày. Tuy nhiên, mình thấy vui nhiều hơn bởi sau mỗi buổi hackathon như vậy thì kiến thức của mình trở nên chắc chắn hơn, học được cách giải quyết vấn đề sau mỗi requirement siêu bựa của các anh/chị giảng viên, đặc biệt là cách làm việc nhóm (còn gánh team thì gẫy lưng như chơi !!! mình cũng đã thử rồi) và anh em trong nhóm trở nên thân thiết và hiểu nhau hơn.
    p Tóm lại, mình cảm thấy việc chọn Techkids của mình là rất chính xác.
  //- .course
  //-   h2.text-center.title CÁC KHÓA HỌC
  //-   .content-container
  //-     .course-info
  //-       .row
  //-         .col-md-8.col-xs-12
  //-           h3 Mobile apps development (MAD) - iOS
  //-           p Học Lập trình nền tảng (Java, OOP) và tiếng Anh miễn phí; tạo ra ứng dụng trên nền tảng iOS. Giảng viên trên 7 năm kinh nghiệm. Cam kết việc làm sau khóa học hoặc tự khởi nghiệp.
  //-           a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc/ios') TÌM HIỂU NGAY
  //-         .col-md-4.col-xs-6
  //-           img.course_picture(src='/cms/img/banneriosandroid.jpg')
  .col-xs-12.col-md-12.find_us
    h3.title
      | CÙNG TECHKIDS
    p.sub_title
      | viết những dòng code thay đổi cuộc đời bạn
    a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc') TÌM HIỂU CÁC KHÓA HỌC
