extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content  
  img.profie_background(src='/cms/img/Background.jpg')
  .content-container
    img.profie-pic(src='/cms/img/Nga Nguyễn.jpg', style='height:350px')
    h3 Nguyễn Nga
    p D14 - PTIT Được học bổng Tech-Women Scholarships của TechKids
    p
      |Vừa nhận mail của chị San!!! Thông báo kết thúc khóa học rồi, TechKids luôn ở đây,đỡ các em."Đừng dừng lại, tiếp tục cố gắng."<br>
      |Cũng là một đứa con gái mạnh mẽ lắm chứ bộ. Nhưng khi đọc mail này cảm xúc khó diễn tả quá.<br>
      |Lại một cuộc chia li, em không thích điều này.<br>
      |Thật sự 4 tháng sống với TechKids là trải nghiệm của đời sinh viên e không bao giờ quên.<br>
      |Từ cái buổi đi phỏng vấn đầu tiên lạc đường mò mãi mới tới nơi, 11r phỏng vấn xong được thả về,cũng lạc đường xanh mắt luôn.<br>
      |Và anh chị cho thử sức với ‪#‎Codethechange‬.
    p
      |Thời gian bắt đầu nhập lớp cũng là lúc chuẩn bị thi học kì,công việc gia đình bận rộn.<br>
      |Phải nói là hoảng loạn, quay tít mù vẫn ngu trên mọi mặt trận.<br>
      |Mệt mỏi rồi lại nghĩ đến buông xuôi, một mình 1 đứa con gái 1, đã thế hầu như hôm nào cũng 11h mới về đến nhà. Mẹ khuyên này nọ, bạn bè(đi cả đoạn đường dài từ TechKids về cùng lão ‪#‎Công‬, tâm sự với nó, nó động viên nhiều), rồi mấy ac TechKids tuyên bố hẳn nếu theo được từ giờ đến cuối khóa thì chúng mày sẽ trưởng thành,vứt đâu cũng sống được. Rồi cứ thế e chày cối thêm, thức khuya hơn, tranh thủ thời gian rảnh hơn (nhiều lúc ăn bẩn hơn, vài ngày mới chịu gội đầu). Và e đi hết chặng đường nhập môn iOS.<br>
      |Đến bây giờ tuy kiến thức vẫn còn non nớt, nhưng e cũng thấy mình trưởng thành lắm, cũng oai lắm khi khoe với bạn bè tao code app này app kia (app toàn được anh em hỗ trợ). Hồi hackathon OOP cùng team với A Linh DQ, thằng Khải, mà không code đk cái mẹ gì giúp a e.<br>
      |Thật sự lúc đó thất vọng về bản thân, day dứt dằn vặt, ngại ngùng còn ngại khi gặp a Linh luôn. Đến Hackathon iOS, cùng team với a Tiến, a Trình (họ thật tuyệt vời) quý a Trình lắm, giúp đỡ e rất nhiều.<br>
      |Mặc dù bao nhiêu cái khó mấy anh đảm nhận hết, nhưng cũng chung tay code. Lần này e thấy vui hơn rất nhiều. Thấy mình trâu bò vđ í.<br>
      |cả ngày thứ 6 đi học, tối về Techkids hackathon, thức cho đến 3h chiều ngủ 15p rồi thức đến 5h sáng hôm sau luôn (chắc do phản ứng mãnh liệt của trà với nồng độ quá đặc) <br>
      |Mặc dù vậy, e vẫn thấy mình tỉnh táo, đủ đam mê để code tiếp.
    p
      |Hôm qua(18/4) chia tay, chia chân với các a c Techkids rồi. Không biết có cơ hội quay lại không nhưng mà bây giờ vẫn buồn da diết luôn. Cảm ơn a chị vì tất cả.<br>
      |Phải làm sao đây khi đến Techkids đã trở thành thói quen, chuông báo thức thì vẫn hẹn đúng giờ, và cái khoảng khắc phóng 60km/h lúc 10h đêm từ Techkids về mới phê biết nhường nào.<br>
      |Techkids thật tuyệt vời.<br>
      |PS: em khôg ngờ ‪#‎aTùng‬ vs ‪#‎aĐạt‬ hát hay thế đâu ạ, a chị đa tài quá :)))<br>
      |Chúc a chị thật mạnh khỏe, thành công và xây dựng nhiều thế hệ trẻ có tài có đức nhá >><br>
      |cơ mà e vẫn thấy buồn, hề cho em tham gia fulltime nhé .
  .course
    h2.text-center.title CÁC KHÓA HỌC
    .content-container
      .course-info
        .row
          .col-md-8.col-xs-12
            h3 Mobile apps development (MAD) - iOS
            p Học Lập trình nền tảng (Java, OOP) và tiếng Anh miễn phí; tạo ra ứng dụng trên nền tảng iOS. Giảng viên trên 7 năm kinh nghiệm. Cam kết việc làm sau khóa học hoặc tự khởi nghiệp.
            a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc/ios') TÌM HIỂU NGAY
          .col-md-4.col-xs-6
            img.course_picture(src='/cms/img/banneriosandroid.jpg')
  .col-xs-12.col-md-12.find_us
    h3.title
      | CÙNG TECHKIDS
    p.sub_title
      | viết những dòng code thay đổi cuộc đời bạn
    a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc') TÌM HIỂU CÁC KHÓA HỌC
