extends layout
append scripts
  script.
    (function(h,e,a,t,m,p) {
    m=e.createElement(a);m.async=!0;m.src=t;
    p=e.getElementsByTagName(a)[0];p.parentNode.insertBefore(m,p);
    })(window,document,'script','https://u.heatmap.it/log.js');
block content  
  section.background.img-responsive
    .center_inline_list.center_inline_list_2
      h3.section_title.col-sm-5.col-xs-9.font_color CÙNG TECHKIDS 
      p.section_subtitle.font_color viết những dòng code thay đổi cuộc đời bạn
  .content-container
    .row(style='padding-bottom:25px;')
      .col-xs-6.col-md-3
        img.profile_img(src='/cms/img/Pt.png')
      .col-xs-12.col-sm-6.col-md-9
        p.justify-content.flex-verttically-center Sinh năm 2000 - Học sinh THPT lê Quý Đôn 
    p PHÁT HIỆN TECHKIDS<br>
      |Ngồi trong phòng vệ sinh nam của trường Lê Quý Đôn mà khóc*, Pt bỗng suy nghĩ về cuộc đời, sự nghiệp theo đuổi học hành, về những năm tháng hạnh phúc. Pt bỗng nhận ra những ngày tháng bạn Pt thực sự có niềm vui sướng khi được đi học mà không phải là vì đáp ứng sựa kì vọng của xã hội, không bị ám ảnh bởi cái nhãn dán mà xã hội đặt cho mình, những năm tháng mà Pt cảm giác như được sống thực sự chứ không phải sợ cái ngày có lời ra tiếng vào từ mọi người và xã hội, tự xoa dịu sự lo lắng bất an của mình bằng cách hoàn thành một cách tuyệt đối hoàn hảo tất cả các yêu cầu chi li nhất của việc học. Những năm tháng hạnh phúc đấy là những năm tháng được học Tin học. Nhớ mỗi tối thứ 6 là hồi hộp không sao tả được để đến buổi sáng thứ 7 là bật dậy đi học Tin, so với cái cảm giác sáng dậy bây <br> 
      |Thôi tạm lược mấy cái tiêu cực đi, cái chính là bạn Pt giữa bộn bề cuộc sống thi học sinh giỏi cấp trường với 2 tình yêu lúc đấy là Sinh với Hóa, thì tự nhiên nhớ tới ước mơ hồi bé/tình yêu đầu của mình là được trở thành Hacker/Lập trình viên. Nghĩ là làm thôi, bạn Pt vứt hết mấy cái thi hsg lại vì bạn ấy méo quan tâm đến chúng nó nữa, tạm thời cầm cái điện thoại lở loét của mình mà search facebook mấy từ khóa "code" "lập trình" các thể loại, ban đầu bạn ấy nghĩ là không ra được cái trung tâm đào tạo tử tế nào đâu hoặc mấy cái lởm lởm kiểu dạy online hoặc ra cái chỉ cho sinh viên hoặc của nước ngoài bên Sing Ấn nào đấy thôi, nhưng thật là bất ngờ, cái TechKids nó ra ngay đầu luôn. Ồ bát ngờ quá nhìn có vẻ hịn icon hoành tráng chuyên nghiệp phết, nó lại còn là tiếng Việt nữa, update stt thường xuyên này, ồ hay phết nó là dạy thực hành luôn à,… được được để nghiên cứu.
    p CHỌN TECHKIDS<br>
      |Như một đứa kĩ tính, muốn đảm bảo chất lượng học hành của mình, Pt đâu có ngu mà đi apply luôn đâu, phải nghiên cứu chứ, Pt nhìn vậy thôi chứ tỉnh lắm. Ờm ờm, xem nào, ấn tượng phết, ngồi đọc review mà cứ toát mồ hôi hột, ờm được được lắm, cảm giác có vẻ quan tâm chân thật phết méo phải kiểu nhiệt tình nhạt nhòa của mấy cái trung tâm tiếng anh mình hay bị dụ dỗ. Pt thấy có vẻ bắt được sóng não của cái tinh thần học hỏi của bên TechKids. Thôi tổng kết lại sau khi ngồi phân tích đánh giá cái Techkids này thì:
      |- Cơ sở vật chất: kay tạm được cũng giống mấy trung tâm tiếng anh loại thường thường thôi nhưng cái chính là đủ dùng là được rồi<br>
      |- Tiện ích xung quanh: lúc đấy là có tận 4 cái thì một cái ở Chùa Bộc cách nhà có 500m, cái hôm đi phỏng vấn mừng hụt phỏng vấn ở đấy -> học tại đấy luôn, thế bất nào lại học tại Chùa Láng cơ chứ, bức xúc quá (*nhìn nhìn cái con người mà tự biết mình là ai rồi đấy*)<br>
      |- Môi trường học: nghe danh đã lâu chắc đúng với review thôi cộng thêm việc mình đào mộ hết học viên trong này thì có thấy có ai phàn nàn gì đâu nên chắc tốt rồi<br>
      |- Học phí: ồ có mỗi 2 triệu thôi à, cũng có vẻ bèo phết tính ra có 75-100k một buổi <br>
      |- Chương trình học: ờm có vẻ thú vị, học Python cơ à, ban đầu Pt nghĩ sẽ học Pascal thôi, ngoài ra còn có cái Hackathon cuối khóa nữa, thú vị phết.<br>
      |-> Đủ diều kiện để Pt apply rồi, thôi apply thôi.<br>
      |-> Cảm nghĩ sau khi apply: bây giờ mà apply đi phỏng vấn mà trượt thì đẹp mặt
    p HỌC TẠI TECHKIDS<br>
      |Nói sao giờ, thì đương nhiên là một khi Pt đã chọn thì nó phải tuyệt vời rồi, đoạn này sẽ chỉ là lặp lại học ở TechKids tuyệt vời như thế nào, mọi người nhiệt tình ra sao, blah blah gì đấy. Nhưng mà theo tâm lí con người thì nếu muốn họ giữ vững một đặc điểm gì đó thì phải liên tục phóng đại nhấn mạnh cái đặc điểm đó ra cộng thêm nữa cũng giống như người yêu nhau thì nói nghìn câu yêu vẫn thấy không đủ mà… Vậy nên đây, nó đây:<br>
      |“Học tại TechKids là một trải nghiệm tuyệt vời. Dù chỉ có 2 tháng ngắn ngủi với nhau thôi nhưng nó đã tác động không nhỏ đến em. Tại đây em đã không chỉ học được nhiều bài học về lập trình cơ bản mà còn học được cách làm việc nhóm cho Hackathon, sắp xếp công việc,… Đề em có thể có cơ hội học được những điều như vậy phải cảm ơn đến giảng viên anh Huy Nguyen Quang và coach Hiepdamdang đã cực kì tâm huyết và nhiệt tình với học viên, ngoài ra thì cũng không thể thiếu bà chị Hà San Nguyễn và anh Nguyễn Thanh Tùng đã luôn ủng hộ và chăm sóc tích cực học viên và bà chị LinhCC lâu lâu mang đồ ăn đến nữa. Kết thúc khóa học C4E lần này đã để lại nhiều kỉ niệm trong em, trong đó có lòng biết ơn vô hạn vì sự hỗ trợ, cơ hội được học tập tại TechKids. Hy vọng và chúc mọi người thành công với dự định của mình.”<br>
      |Ôi rồi nghe nghiêm túc vãi chưởng sự thật mà nói thì em có thể chỉ viết cái đoạn thôi này thay vì cả cái bài như thế này nhưng mà em thích make color nên nó thành thế đó. Ngoài ra thì em cũng định bổ sung ấn tượng đầu nhưng mà em thích ân tượng đầu phải được nói at the very end of a story nên em không nói đâu.<br>
    p Và cuối cùng thì … CHUYỂN HỘ KHẨU SANG TECHKIDS<br>
      |“Family isn't always blood. It's the people in your life who want you in theirs. The ones who accept you for who you are. The ones who would do anything to see you smile, and who love you no matter what.”<br>
      |Thật vậy, Gia đình là sự lựa chọn và mong muốn yêu thương nhau vô điều kiện. Đó là thứ gắn bó tất cả chúng ta với nhau. Bạn Pt cảm thấy thật may mắn khi được ở trong gia đình TechKids, vẫn bị xúc động bởi cái TechKids luôn ở đây để giúp đỡ mọi người lắm… *sụt sịt ti tí* Vậy nên xong cái khóa C4E này thì bạn ấy cũng không đứt luôn tình cảm với TechKids đâu mà bạn ấy còn đi học lớp web, pronunciation với đang cần học IELTS ở TechKids/ILIAT các thể loại cơ mà, nói chung mọi người sẽ thấy cái bản mặt này dài dài thôi. Ngoài ra thì đoạn cuối này đinh viết ai rảnh thì đến thăm nuôi bạn Pt nhưng mà đến ngày hôm nay thì khỏe rồi. ^^
  //- .course
  //-   h2.text-center.title CÁC KHÓA HỌC
  //-   .content-container
  //-     .course-info
  //-       .row
  //-         .col-md-8.col-xs-12
  //-           h3 Code for Everyone (C4E)
  //-           p Đem một thứ ngôn ngữ toàn cầu mới trong tương lai của cả thế giới về Việt Nam: ngôn ngữ Lập trình. Đặc biệt dành cho non-Techs (không học Công nghệ thông tin), trẻ em, phụ nữ.
  //-           a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc/code-for-everyone') TÌM HIỂU NGAY
  //-         .col-md-3.col-xs-6
  //-           img.course_picture(src='/cms/img/c4e.jpg', style='width:400px; height:150px')
  //-     .course-info
  //-       .row
  //-         .col-md-8.col-xs-12
  //-           h3 FULL-STACK WEB
  //-           p Học Lập trình nền tảng và tiếng Anh miễn phí; Front-end, Back-end web bằng NodeJS. Giảng viên 8 - 10 năm kinh nghiệm. Cam kết việc làm sau khóa học. Một lớp học sẽ thay đổi cuộc đời bạn!
  //-           a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc/web-fullstack') TÌM HIỂU NGAY
  //-         .col-md-4.col-xs-6
  //-           img.course_picture(src='/cms/img/fullstack.png', style='width:400px; height:150px')
  .col-xs-12.col-md-12.find_us
    h3.title
      | CÙNG TECHKIDS
    p.sub_title
      | viết những dòng code thay đổi cuộc đời bạn
    a.btn.btn_button_orange.boder_radius_1(href='/khoa-hoc') TÌM HIỂU CÁC KHÓA HỌC
